<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="perfil" class="tab-button">
      <div class="tab-button-inner">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </div>
    </ion-tab-button>
    
    <ion-tab-button tab="gostos" class="tab-button">
      <div class="tab-button-inner">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>Gostos</ion-label>
      </div>
    </ion-tab-button>
    
    <ion-tab-button tab="conquistas" class="tab-button">
      <div class="tab-button-inner">
        <ion-icon name="trophy-outline"></ion-icon>
        <ion-label>Conquistas</ion-label>
      </div>
    </ion-tab-button>
    
    <ion-tab-button tab="terra" class="tab-button">
      <div class="tab-button-inner">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Terra</ion-label>
      </div>
    </ion-tab-button>
    
    <ion-tab-button tab="explorar" class="tab-button">
      <div class="tab-button-inner">
        <ion-icon name="compass-outline"></ion-icon>
        <ion-label>Explorar</ion-label>
      </div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
