<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/conquistas"></ion-back-button>
    </ion-buttons>
    <ion-title>Conquistas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-accordion-group>
    <ion-accordion value="viagens">
      <ion-item slot="header"><ion-label>Viagens</ion-label></ion-item>
      <div slot="content" class="horizontal-scroll">
        <ion-card *ngFor="let a of viagens" (click)="openDetails(a)">
          <img src="assets/images/{{ a.img }}" alt="{{ a.title }}" />
          <ion-card-header>
            <ion-card-title>{{ a.title }}</ion-card-title>
            <ion-card-subtitle>{{ a.subtitle }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-accordion>

    <ion-accordion value="cursos">
      <ion-item slot="header"><ion-label>Cursos</ion-label></ion-item>
      <div slot="content" class="horizontal-scroll">
        <ion-card *ngFor="let a of cursos" (click)="openDetails(a)">
          <img src="assets/images/{{ a.img }}" alt="{{ a.title }}" />
          <ion-card-header>
            <ion-card-title>{{ a.title }}</ion-card-title>
            <ion-card-subtitle>{{ a.subtitle }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
